.footer {
  background-color: $secondary-color;
  padding-top: 108px;
  padding-bottom: 46px;
  @include media-breakpoint-down(lg){
    padding-top: 60px;
    padding-bottom: 40px;
  };
  @include media-breakpoint-down(md){
    @include section-md-padding();
  };
  @include media-breakpoint-down(sm){
    @include section-sm-padding();
  };
  @include media-breakpoint-down(xs){
    @include section-xs-padding();
  };
}
.wrap-heading--alt1 {
  line-height: 23px;
  padding-bottom: 20px;
  @include media-breakpoint-down(md){
    padding-bottom: 0;
  };
}
.footer__list {
  margin-top: 22px;
}
.footer__list-link {
  font-size: 14px;
  color: $third-color;
  line-height: 10px;
  display: inline-block;
  @include footer-link-hover();
}
.footer-text {
  font-size: 14px;
  color: $third-color;
  line-height: 10px;
}
.footer__social-link {
  margin-right: 12px;
  font-size: 20px;
  color: $third-color;
  @include link-hover();
}
.footer__social-list-item:first-child {
  margin-left: 43px;
}
.contact-icon {
  color: $third-color;
  font-size: 16px;
  margin-right: 20px;
}
.footer__list-item--alt {
  margin-bottom: 24px;
}
.bottom-row {
  margin-top: 100px;
  padding-bottom: 102px;
  @include media-breakpoint-down(lg){
    margin-top: 10px;
    padding-bottom: 10px;
  };
  @include media-breakpoint-down(md){
    margin-top: 30px;
  };
}
.message-form__input {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 18px;
  padding-bottom: 17px;
  background: $main-bg-color;
  border-radius: 4px;
  width: 100%;
  &::placeholder {
    font-size: 12px;
    line-height: 15px;
    color: $third-color;
  };
}
.message-form__input--alt {
  margin-top: 15px;
  height: 123px;
}
.button-wrap {
  margin-top: 22px;
}
.option-wrap__btn--alt2 {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  width: auto;
  padding: 18px 66px;
  margin-top: 0;
}
.plain12-text--alt3 {
  color: $text-color;
}
.pay-picture {
  margin-left: 277px;
  @include media-breakpoint-down(lg){
    margin-left: 0;
  };
  @include media-breakpoint-down(md){
    margin-left: 0;
  };
  @include media-breakpoint-down(sm){
    margin-left: 0;
  };
  @include media-breakpoint-down(xs){
    margin-left: 0;
  };
}