<<<<<<< HEAD
<<<<<<< HEAD
=======
@mixin media-breakpoint-up($breakpoint) {
    $current-bp:map-get($breakpoints, $breakpoint );
    @media screen and (min-width: $current-bp) {
        @content
    }
};

@mixin make-container-maxwidth($breakpoint){
  $current-width:map-get($container-widths, $breakpoint );
  .container {
    max-width: $current-width;
  }
};
>>>>>>> 84aa8349d64f0c342a9c90f5a5bdf99a6554cdd6
=======
@mixin plain10-text() {
    color: $main-text-color;
    font-size: 10px;
    line-height: 13px;
}
@mixin plain12-text() {
    color: $main-text-color;
    font-size: 12px;
    line-height: 15px;
}
@mixin plain14-text() {
    color: $main-text-color;
    font-size: 14px;
    line-height: 18px;
}
@mixin plain14-second-text() {
    color: $main-bg-color;
    font-size: 14px;
    line-height: 18px;
}
@mixin main-header() {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $main-text-color;
    text-transform: uppercase;
}
>>>>>>> feature/main_hero-section
