@mixin plain10-text() {
  color: $main-text-color;
  font-size: 10px;
  line-height: 13px;
}
@mixin plain12-text() {
  color: $main-text-color;
  font-size: 12px;
  line-height: 15px;
}
@mixin plain14-text() {
  color: $main-text-color;
  font-size: 14px;
  line-height: 18px;
}
@mixin plain14-second-text() {
  color: $main-bg-color;
  font-size: 14px;
  line-height: 18px;
}
@mixin plain14-third-text() {
  color: $main-bg-color;
  font-size: 14px;
  line-height: 22px;
}
@mixin main-header() {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $main-text-color;
  text-transform: uppercase;
}
@mixin wrap-plain-text(){
  font-size: 12px;
  line-height: 16px;
  color: $main-bg-color;
}
@mixin wrap-heading (){
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: $main-bg-color;
}
@mixin plain13-text() {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: $primary-color;
}
@mixin second-header() {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: $main-text-color;
}
@mixin card-header() {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $main-bg-color;
}
@mixin link-hover (){
  transition: .3s;
  text-decoration: none;
  position: relative;
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $primary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover {
    text-decoration: none;
    color:$primary-color ;
  }
  &:hover:after {
    width: 100%; 
    left: 0; 
  }
}
@mixin footer-link-hover (){
  transition: .3s;
  text-decoration: none;
  position: relative;
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 20;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $primary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover {
    text-decoration: none;
    color:$primary-color ;
  }
  &:hover:after {
    width: 100%; 
    left: 0; 
  }
}
@mixin section-xs-padding(){
  padding-top: 10px;
  padding-bottom: 10px;
}
@mixin section-sm-padding(){
  padding-top: 20px;
  padding-bottom: 20px;
}
@mixin section-md-padding(){
  padding-top: 30px;
  padding-bottom: 30px;
}
@mixin div-boxshadow() {
  transition: box-shadow .3s;
  cursor: pointer;
    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2);
    };
}