$primary-color: #ec1f46;
$secondary-color: #0a223d;
$main-bg-color:#fff;
$icon-color:#000;
$bg-color:#f5fafe;
$main-text-color: #333333;
$star-color: #f2994a;
$third-color:#bdbdbd;
$gradient:#0a223a;
$text-color:#e0e0e0;
$icon-color:#828282;

$primary-font: 'Mulish', sans-serif;

